*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
  color: inherit;
}
header{
  position: relative;
  display: flex;
  width: 88%;
  margin: auto;
  padding-top: 2rem;
  align-items: center;
}
h1{
  font-family: 'Raleway', sans-serif;
  font-weight:700;
  font-size: 1.6rem;
  line-height:2.2rem;
  color: hsl(243, 87%, 12%);
}
p{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: hsl(243, 87%, 12%);
  line-height: 1.35rem;
}
.logo{
  flex:1;
  display:flex;
  align-items:center;
}
.logo img{
  width: 55%;
  height:auto;
}
nav{
  width:50%
}
nav ul{
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 0.9rem;
  display:flex;
  list-style: none;
  justify-content: space-between;
}
nav ul li{
  justify-content: space-around;
}
.section1{
  padding-top: 5rem;
  padding-bottom: 6rem;
  width: 88%;
  margin:auto;
  display:flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.illustration1Block{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2.3rem;
}
.illustration1{
  width: 100%;
  height: auto;
}
form{
  display: flex;
  flex-direction: column;
}
.section1Text p{
  width: 95%;
  margin: auto;
  padding-top: 1.3rem;
  padding-bottom: 1.7rem;
}
form{
  width: 100%;
}
input{
  padding:1rem;
  border: hsl(243, 87%, 80%) 1px solid;
  border-radius: .4rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 90%;
  margin: 0.5rem auto;
}
input[type=submit]{
  color: #fff;
  background: hsl(224, 93%, 58%);
  border: none;
  font-size: 1.1rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}
input:focus{
  outline: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.section2{
  display: flex;
  flex-direction: column;
  align-items: center;
  background: hsl(240, 75%, 98%);
}
.illustration2{
  width: 88%;
  height: auto;
}
.section2Text{
  width: 90%;
  margin: auto;
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
}
.section2Text h2{
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 1.1rem;
  text-align: center;
  color: hsl(243, 87%, 12%);
  padding-bottom: 1.2rem;
}
.description{
  padding-bottom:1rem;
  font-size: 1rem;
  line-height: 1.4rem;
  color: hsl(238, 22%, 44%);
}
.greenText{
  align-self: center;
  padding-bottom: 3px;
  border-bottom: 1.5px hsl(170, 45%, 43%) solid;
  align-items: center;
  display: inline-flex;
  margin-bottom: 2.5rem;
}
.greenText p{
  color: hsl(170, 45%, 43%);
}
.greenText img{
  padding-left: 0.3rem;
  width: 1.8rem;
  height: auto;
}
.quoteBox{
  width: 95%;
  margin:auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background: #fff;
  padding: 1.5rem;
  border-radius: 6px;
  margin-bottom: 5rem;
}
.quoteBox h3{
  padding-top:0.4rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 0.8rem;
  line-height: 0.1rem;
}
.quoteBox small{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 0.5rem;
}
.quoteBox p{
  font-size: .7rem;
}
.avatarInfo{
  padding-top: 1rem;
  display: flex;
  align-items: center;
}
.avatarInfo img{
  clip-path: circle(45%);
  width: 15%;
  height: auto;
  margin-right: 0.6rem;
}
.section3{
  background:hsl(238, 22%, 44%);
  display:flex;
  flex-direction: column;
  align-items: center;
  padding:2rem;
  padding-bottom: 3rem;
}
.section3Text{
  text-align: center;
}
.section3Text h4{
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
  padding-bottom: 1.1rem;
}
.section3Text p{
  color: hsl(240, 75%, 98%);
  padding-bottom: 1.2rem;
}
.section4{
  background: hsl(243, 87%, 12%);
  padding:3rem 2rem;
}
.logoBottom{
  width: 50%;
  height: auto;
  display: block
}
.contact{
  padding-top: 2rem;
  padding-bottom: 2rem;
  display:inline-grid;
  grid-template-columns: auto auto;
  grid-gap: .9rem 1rem;
}
.contact p{
  color: #fff;
}
.section4 ul{
  list-style: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  color: hsl(0, 0%, 75%);
  cursor: pointer;
  padding-bottom: 2rem;
}
.section4 li{
  padding-bottom: .9rem;
}



