*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
  color: inherit;
}
header{
  position: relative;
  display: -webkit-flex;
  width: 88%;
  margin: auto;
  padding-top: 2rem;
  align-items: center;
}
h1{
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2.2rem;
  color: hsl(243, 87%, 12%);
}
p{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: hsl(243, 87%, 12%);
  line-height: 1.35rem;
}
.logo{
  -webkit-flex: 1;
  display: -webkit-flex;
  align-items: center;
}
.logo img{
  width: 55%;
  height: auto;
}
nav{
  width: 50%
}
nav ul{
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 0.9rem;
  display: -webkit-flex;
  list-style: none;
  justify-content: space-between;
}
nav ul li{
  justify-content: space-around;
}
.section1{
  padding-top: 5rem;
  padding-bottom: 6rem;
  width: 88%;
  margin: auto;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  align-items: center;
  text-align: center;
}
.illustration1Block{
  display: -webkit-flex;
  -webkit-flex-direction: column;
  align-items: center;
  padding-bottom: 2.3rem;
}
.illustration1{
  width: 100%;
  height: auto;
}
form{
  display: -webkit-flex;
  -webkit-flex-direction: column;
}
.section1Text p{
  width: 95%;
  margin: auto;
  padding-top: 1.3rem;
  padding-bottom: 1.7rem;
}
form{
  width: 100%;
}
input{
  -webkit-appearance: none;
  padding: 1rem;
  border: hsl(243, 87%, 80%) 1px solid;
  border-radius: 0.4rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 90%;
  margin: 0.5rem auto;
}
input[type=submit]{
  -webkit-appearance: none;
  color: #fff;
  background: hsl(224, 93%, 58%);
  border: none;
  font-size: 1.1rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}
input[type=submit]:hover{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
input[type=submit]:active{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
}
input:focus{
  outline: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.section2{
  display: -webkit-flex;
  -webkit-flex-direction: column;
  align-items: center;
  background: hsl(240, 75%, 98%);
}
.illustration2{
  width: 88%;
  height: auto;
}
.section2Text{
  width: 90%;
  margin: auto;
  padding-top: 4rem;
  display: -webkit-flex;
  -webkit-flex-direction: column;
}
.section2Text h2{
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 1.1rem;
  text-align: center;
  color: hsl(243, 87%, 12%);
  padding-bottom: 1.2rem;
}
.description{
  padding-bottom: 1rem;
  font-size: 1rem;
  line-height: 1.4rem;
  color: hsl(238, 22%, 44%);
}
.greenText{
  align-self: center;
  padding-bottom: 3px;
  border-bottom: 1.5px hsl(170, 45%, 43%) solid;
  align-items: center;
  display: inline-flex;
  margin-bottom: 2.5rem;
}
.greenText p{
  color: hsl(170, 45%, 43%);
}
.greenText img{
  padding-left: 0.3rem;
  width: 1.8rem;
  height: auto;
}
.quoteBox{
  width: 95%;
  margin: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background: #fff;
  padding: 1.5rem;
  border-radius: 6px;
  margin-bottom: 5rem;
}
.quoteBox h3{
  padding-top: 0.4rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 0.8rem;
  line-height: 0.1rem;
}
.quoteBox small{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 0.5rem;
}
.quoteBox p{
  font-size: .7rem;
}
.avatarInfo{
  padding-top: 1rem;
  display: -webkit-flex;
  align-items: center;
}
.avatarInfo img{
  clip-path: circle(45%);
  width: 15%;
  height: auto;
  margin-right: 0.6rem;
}
.section3{
  background: hsl(238, 22%, 44%);
  display: -webkit-flex;
  -webkit-flex-direction: column;
  align-items: center;
  padding: 2rem;
  padding-bottom: 3rem;
}
.section3Text{
  text-align: center;
}
.section3Text h4{
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
  padding-bottom: 1.1rem;
}
.section3Text p{
  color: hsl(240, 75%, 98%);
  padding-bottom: 1.2rem;
}
.section4{
  background: hsl(243, 87%, 12%);
  padding: 3rem 2rem;
}
.logoBottom{
  width: 50%;
  height: auto;
  display: block
}
.contact{
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: inline-grid;
  grid-template-columns: auto auto;
  grid-gap: .9rem 1rem;
}
.contact p{
  color: #fff;
}
.section4 ul{
  list-style: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  color: hsl(0, 0%, 75%);
  cursor: pointer;
  padding-bottom: 2rem;
}
.section4 li{
  padding-bottom: .9rem;
}
@media (min-width:1200px)
{
  .logo img{
    width: 15%
  }
  nav{
    width: 20%;
  }
  nav ul{
    font-size: 1.3rem;
  }
  .section1{
    -webkit-flex-direction: row-reverse;
    justify-content: space-between;
    text-align: left;
  }
  .section1Text p{
    width: 100%;
  }
  .firstForm{
    -webkit-flex-direction: row;
  }
  .input{
    width: 100%;
  }
  .desktop{
    display: -webkit-flex;
    -webkit-flex-direction: column;
    width: 65%;
    padding-right: 15rem;
  }
  .illustration1Block{
    align-items: -webkit-flex-end;
    width: 45%;
  }
  .illustration1{
    width: 100%;
  }
  input{
    border-radius: 4px;
  }
  input[type=submit]{
    width: 40%;
    margin-left: 1.2rem;
  }
  .section2{
    -webkit-flex-direction: row-reverse;
    padding: 0 4.5rem; 
  }
  .illustration2{
    width: 40%;
  }
  .section2Text{
    padding-top: 0;
    padding-right: 6rem;
  }
  .section2Text p{
    width: 85%;
  }
  .section2Text h2{
    text-align: left;
    font-size: 2.1rem;
  }
  .greenText{
    align-self: -webkit-flex-start;
  }
  .quoteBox{
    width: 65%;
    margin-right: 20rem;
  }
  .quoteBox p{
    font-size: 1rem;
    width: 100%;
  }
  .quoteBox h3{
    font-size: 1rem;
  }
  .avatarInfo small{
    line-height: 1rem;
    font-size: 0.55rem;
  }
  .wavyshit{
    background:hsl(240, 75%, 98%);
  }
  .section3{
    -webkit-flex-direction: row;
    padding-bottom: 2rem;
    height: 50vh;
  }
  .section3Text{
    padding-left: 2.5rem;
    width: 60%;
    text-align: left;
  }
  .section3Text h4{
    font-size: 1.7rem;
  }
  .section3Input{
    padding-left: 15rem;
  }
  .section3Input input{
    margin: 0.5rem 0rem;
  }
  .logoBottom{
    width: 13%;
    padding-bottom: 2rem;
  }
  .section4Info{
    display:-webkit-flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 63%;
  }
  .contact{
    padding:0;
  }
  .section4{
    padding-left:10rem;
  }
}



